[Desktop Entry]
Name=iPython Notebook
Comment=Local web app for interactive Python development
Path=/home/craig/Code/r1.local/notebooks
Exec=ipython notebook
Icon=web-browser
Terminal=true
Type=Application
Categories=Development;

